/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@import "tailwindcss";

@theme {
    --color-primary-900: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 0%);
    --color-accent-primary: hsl(180, 100%, 60%);
}